@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    
    --dark-primary: #000;
    --dark-primary-50: #00000080;
    --dark-secondary: hsl(221, 26%, 14%);

    --border-color: color-mix(in srgb, #a8b3cf, transparent 60%);

    --light-purple: #a8b3cf;
    --light-purple-darker: hsl(233, 29%, 65%);
    --light-text-color: var(--light-purple);
    --text-color: #fff;

    --hover-bg-color:  #a8b3cf33;

    --purple-color: hsl(270, 88%, 60%);
    --purple-bg: #8c28f03d;
    --blue-color: #2cdce6;
    --blue-bg: #0dcfdc3d;
    --red-color: #e04337;
    --red-bg: #d52b203d;
    --green-color: #39e58c;
    --green-bg: #1ddc6f3d;
    --orange-color: #ff8e3b;
    --orange-bg: #ff7a2b3d;
    --yellow-color: #ffe923;
    --yellow-bg: #ffdf003d;
}

*{
    font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Arial, sans-serif !important;
}

html, body {
    color: var(--light-text-color) !important;
    min-height: 100vh;
    position: relative;
}

/* text color */
.text-secondary{color: var(--light-text-color) !important;}
.text-primary {color: var(--text-color) !important;}
.text-danger{color: var(--red-color) !important;}
.text-success{color: var(--red-green) !important;}
a {color: var(--blue-color);}

/* borders */
.border-primary {border: 1px solid var(--border-color) !important;}
.border-bottom-primary {border-bottom: 1px solid var(--border-color) !important;}
.border-top-primary {border-top: 1px solid var(--border-color) !important;}
.border-danger{border-color: var(--red-color) !important;}
.border-success{border-color: var(--green-color) !important;}

/* backgrounds */
.bg-primary{background-color: var(--dark-primary) !important;}
.bg-secondary{background-color: var(--dark-secondary) !important;}


p{
    margin: 0 !important;
}



/* BUTTONS */
.btn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    user-select: none !important;
}
.btn-sm {
    border-radius: 0.5rem;
    border-width: 1px !important;
    border-style: solid;
}
.btn-md {
    border-radius: 0.65rem;
}
.btn-lg {
    border-radius: 0.8rem;
}
.btn-primary{
    background-color: transparent !important;
    color: var(--blue-color) !important;
    border-color: var(--blue-bg) !important;
}.btn-primary:hover{
    border-color: transparent !important;
    background-color: var(--blue-bg) !important;
}
.btn-danger{
    background-color: transparent !important;
    color: var(--red-color) !important;
    border-color: var(--red-bg) !important;
}.btn-danger:hover{
    border-color: transparent !important;
    background-color: var(--red-bg) !important;
}.btn-danger.disabled{
    pointer-events: all !important;
    cursor: not-allowed !important;
    background-color: transparent !important;
    color: var(--red-color) !important;
    border-color: transparent !important;
    opacity: 0.5 !important;
}
.btn-success{
    background-color: transparent !important;
    color: var(--green-color) !important;
    border-color: var(--green-bg) !important;
}.btn-success:hover{
    border-color: transparent !important;
    background-color: var(--green-bg) !important;
}
.btn-purple{
    background-color: transparent !important;
    color: var(--purple-color) !important;
    border-color: var(--purple-bg) !important;
}.btn-purple:hover{
    border-color: transparent !important;
    background-color: var(--purple-bg) !important;
}
.btn-orange{
    background-color: transparent !important;
    color: var(--orange-color) !important;
    border-color: var(--orange-bg) !important;
}.btn-orange:hover{
    border-color: transparent !important;
    background-color: var(--orange-bg) !important;
}

.btn-secondary{
    background-color: transparent !important;
    color: var(--light-text-color) !important;
    border: 1px solid var(--border-color) !important;
}.btn-secondary:hover{
    background-color: var(--hover-bg-color) !important;
    border-color: transparent !important;
}
.btn-light {
    background-color: white;
    color: black;
}.btn-light:hover{
    background-color: hsl(223, 29%, 85%);
    box-shadow: 0 0 10px var(--light-purple-darker);
}

/* Modals */
.modal {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

/* Alerts */
#liveAlertPlaceholder{
    position: fixed;
    z-index: 10000;
    right: 50%;
    top: 20px;
    transform: translateX(50%);
    width: min(450px, 90%);
}
.alert {
    backdrop-filter: blur(5px);
    max-width: 100%;
    word-break:normal;
}
.alert-warning {
    background-color: var(--yellow-bg) !important;
    color: var(--yellow-color);
    border-color: var(--yellow-color);
}
.alert-success {
    background-color: var(--green-bg) !important;
    color: var(--green-color);
    border-color: var(--green-color);
}
.alert-danger {
    background-color: var(--red-bg) !important;
    color: var(--red-color);
    border-color: var(--red-color);
}
.alert-primary {
    background-color: var(--blue-bg) !important;
    color: var(--blue-color);
    border-color: var(--blue-color);
}


/* INPUTS */

label{
    color: var(--light-text-color);
    font-weight: lighter;
}

select {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    background-color: var(--dark-secondary) !important;
    color: var(--text-color)  !important;

}select.error{
    border-color: var(--red-color);
}select.error:focus-visible{
    outline-color: var(--red-color);
}
select:focus {
    border-color: var(--text-color) !important;
    box-shadow: none !important;
}

input, 
textarea {
    cursor: pointer;
    background-color: var(--dark-secondary)  !important;
    color: var(--text-color) !important;
    border-color: var(--border-color) !important;
} 
textarea{
    font-weight: 300 !important;
    line-height: 1.3 !important;
    font-size: 14px !important;
}
input::placeholder,  
textarea::placeholder {
    color: var(--light-text-color) !important;
}
input:focus, 
textarea:focus {
    background-color: transparent !important;
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
    box-shadow: none !important;
}
input:focus::placeholder, 
textarea:focus::placeholder {
    color: color-mix(in srgb, var(--light-text-color) 100%, transparent 50%)!important;
}


input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
}input[type="checkbox"]:checked{
    background-color: var(--blue-color) !important;
}
input[type='date']{
    width: min-content;
}

input.input-danger:focus {
    color: var(--red-color) !important;
    border-color: var(--red-color) !important;
}







header .navbar {
    background-color: color-mix(in srgb, var(--dark-primary) 100%, transparent 25%);
    backdrop-filter: blur(4px);
    box-shadow: 0 5px 20px 5px var(--dark-primary);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;

    .nav{
        gap: 2rem;

        a {
            color: var(--light-text-color) !important;
        }
        a:focus {
            border-bottom-width: 0px !important;
        }
        a.active{
            color: var(--text-color) !important;
            border-bottom-width: 2px !important;
        }
    }
}



.card.card-index{
    max-width: 360px;
    border-radius: 12px;
}
.card.card-lists{
    max-width: 250px;
    border-radius: 8px;
}
.card {
    width: 100%;
    background-color: var(--dark-secondary);

    .card-header {
        border: none;
        
        img{
            /* opacity: 0.5; */
            width: 22px;
        }
        img.dots-icon {
            width: 36px;
            padding: 4px;
            border-radius: 100%;
            cursor: pointer;
            transition: background-color 150ms ease-in-out;
        }img.dots-icon:hover{
            background-color: var(--hover-bg-color);
        }
        p{
            line-height: 1.1;
        }
        .dropdown-menu {
            background-color: var(--dark-secondary);
            border-color: var(--border-color);
            box-shadow: 0 0 2rem 0.5rem var(--dark-primary);

            .dropdown-item{
                padding-block: 0.5rem;
                color: var(--light-text-color);
                user-select: none;
                cursor: pointer;
            }
            .dropdown-item:hover{
                background-color: var(--hover-bg-color);
                color: var(--text-color);
            }
        }
        .dropdown > a{
            width: 10rem;
            display: block;
            display: flex;
            justify-content: end;
        }
    }

    .card-body{
        .card-title{
            color: var(--text-color);
            font-weight: 700;
        }
    }

    .card-footer{
        border: none;
        gap: 10px;

        .btn{
            width: 100%;

        }
    }
}
.card .card-header, .card .card-footer {
    background-color: transparent !important;
}
.spacer{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

#general-availability {
    .a-row {
        width: 100%;
        margin-bottom: 0.45rem !important;
    }

    .left-part {
        margin-top: 0.45rem !important;
    }

    .day-name{
        width: 3rem;
    }

    p.text-danger{
        width: 250px;
        line-height: 1.2;
    }

    select {
        -webkit-appearance: none; 
        -moz-appearance: none;    
        appearance: none; 
        font-size: 1rem;
    }
    
    img{
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 100ms ease-in-out;
    }
    img:hover{        
        opacity: 1;
    }
    .duplicate-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .close-icon {
        width: 1rem;
        height: 1rem;
    }
    .arrow{
        width: 1rem;
        height: 1rem;
        cursor: unset;
    }
    .plus-icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-top: 0.6rem;
    }
    p.unavailable.opacity-50{
        margin-top: 0.6rem !important;
    }
    

    
   
}
 
.custom-tooltip {
    --bs-tooltip-color: var(--dark-secondary);
    --bs-tooltip-bg: var(--light-text-color);
    color: 1px solid white !important;
}

#lists-modal {
    .spacer:last-of-type{
        display: none;
    }
    .modal-body {
        .usr-row {
            width: 100%;
            .name{
                font-size: 18px;
            }
            .email{
                font-size: 14px;
                opacity: 0.5;
                font-weight: 300;
                font-style: italic;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    #list-name-inpt {
        border-width: 0;
        border-bottom-width: 2px;
        padding-inline: 0;
        border-radius: 0;
        background-color: transparent;
        text-align: center;
        font-size: 24px;
    }
    #list-name-inpt:focus {
        box-shadow: none;
    }
}

.hidden {
    display: none !important;
}
.opacity-70{
    opacity: 0.7 !important;
}



/* calendar */

.calendar {
    width: min(25rem , 100%);
    margin-inline: auto;

    .calendar-wrapper{
        width: 100%;
        background-color: var(--dark-primary);
        color: var(--text-color);
        font-size: 1rem;
        border: 1px solid var(--border-color);
        box-shadow: 0 0 20px var(--border-color);
        border-radius: 1rem;
        padding: 1.5rem;

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
            font-weight: 600;
            font-size: 1.2rem;

            .icons {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .disabled, .disabled-tmp {
                    cursor: not-allowed;
                    opacity: 0.3 !important;
                }

                span {
                    cursor: pointer;
                }
                
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            margin-top: 1rem;
            gap: 0.7rem;

            li{
                border-radius: 100%;
                width: calc((100% - 4.2rem) / 7);
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        ul.weeks{
            color: var(--light-text-color);
            font-size: 1rem;
        }
        ul.days {
            li{
                user-select: none;
                cursor: pointer;
                transition: background-color 100ms ease-in-out;
            } li:hover {
                background-color: rgba(255, 255, 255, 0.1);
            } 
            li.changed {
                background-color: hsla(233, 29%, 65%, 0.5);
            }
            li.active{
                background-color: var(--blue-color);
            }
            li.active.error{
                background-color: var(--red-bg);
            }
            li.disabled, li.disabled-tmp {
                cursor: unset;
                background-color: transparent;
                color: var(--light-text-color);
                opacity: 0.2;
            }li.disabled:hover, li.disabled-tmp:hover{
                background-color: transparent;
            }
            li.today{position: relative;}
            li.today::before{
                content: '';
                position: absolute;
                top: 0.2rem;
                height: 0.5rem;
                width: 0.5rem;
                background-image: url('../assets/todaymark.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
            li.today.disabled::before{
                opacity: 0.7;
            }
        }
    }

    .legend-wrapper{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--light-text-color);

        img{
            width: 1rem;
            opacity: 0.7;
        }
        .circle{
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            background-color: hsla(233, 29%, 65%, 0.5);
        }.circle.blue{
            background-color: var(--blue-color);
        }
        p.fw-light {
            font-size: 0.8rem;
            padding-right: 20px;
        }
    }
}
.day-availability {
    width: 17rem;
    margin-inline: auto;

    select {
        -webkit-appearance: none; 
        -moz-appearance: none;    
        appearance: none; 
        font-size: 1rem;
    }

    p.unavailable.opacity-50{
        margin-top: 0.6rem !important;
    }

    .arrow{
        width: 1rem;
        height: 1rem;
        cursor: unset;
    }

    #plus-icon{
        width: 1.25rem;
        height: 1.25rem;
        opacity: 0.5;
        margin-top: 0.6rem;
        cursor: pointer;
        transition: opacity 100ms ease-in-out;
    }

    .close-icon {
        width: 1rem;
        height: 1rem;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 100ms ease-in-out;
    }

    #plus-icon:hover, .close-icon:hover {
        opacity: 1;
    }

}


/* create event page */
#event-info-form{
    .form-container {
        justify-content: space-between;
        gap: 3rem;
    
        .wrapper {
            width: 100% !important;
            max-width: 400px;

            input[type='text'], textarea, select#broadcast-lists, input#individuals-list{
                width: min(400px, 100%);
            }
        }
    
        .rows-container{
            max-height: 10rem;
            overflow-y: auto;
    
            p.list-name{
                max-width: 16rem;
                font-size: 14px;
            }
        }
    }
    
}







#submissions-page{
    * {
        box-sizing: border-box;
    }

    
    .calendar{
        width: 100%;
        position: relative;
        
        /* width */
        ::-webkit-scrollbar {
            width: 1rem;
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 1000px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background:hsla(223, 29%, 65%, 25%);
            opacity: 0;
            border-radius: 1000px;
        }


       

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--dark-secondary);
            padding: 1rem 10% 1rem 2rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.7);
            border: 1px solid rgba(255, 255, 255, 0.5);

            height: 76px;

            .arrows-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                img:disabled{
                    opacity: 0.5;
                }
            }


        }


        .body {
            display: flex;
            justify-content: start;
            align-items: start;


            .days-column{
                min-width: 80px;
                
                border: 1px solid rgba(255, 255, 255, 0.5);
                
                .space-block{
                    height: 40px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
                
                .days-container {
                    display: flex;
                    flex-direction: column;
                    gap: 20px !important;
                }
                .day{
                    background-color: var(--dark-secondary);
                    min-height: 60px;
                    max-height: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba(255, 255, 255, 0.7);
                    border-block: 1px solid rgba(255, 255, 255, 0.5);

                }
            }
    
            .scrollable-container{
                overflow-x: auto;
                overflow-y: hidden;
                border: 1px solid rgba(255, 255, 255, 0.5);
    
    
                .scroll-content{
                    width: max-content;
                    position: relative;
                }

                .times-row{
                    display: flex;
                    height: 40px;
                    background-color: var(--dark-secondary);
                    width: max-content;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
                    .time-cell{
                        width: 80px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgba(255, 255, 255, 0.7);
                        border-inline: 1px solid rgba(255, 255, 255, 0.5);
                    }
                    .time-cell:first-of-type{
                        border-left: none;
                    }
    
                }
    
                .grid-row{
                    width: max-content;
                    min-height: 60px;
                    display: flex;
                    padding-left: 1px;
                    border-block: 1px solid rgba(255, 255, 255, 0.5);

                    margin-bottom: 20px;
    
    
                    .hour-block{
                        width: 80px;
                        display: flex;
                        justify-content: space-between;
                        padding-left: 18px;
    
                        div {
                            height: 100%;
                            width: 1px;
                            border-color: rgba(255, 255, 255, 0.2);
                        }
                        .m-15{
                            border-right: 1.5px dashed rgba(255, 255, 255, 0.2);
                        }
                        .m-30{
                            border-right: 1.5px solid rgba(255, 255, 255, 0.2);
                        }
                        .m-45{
                            border-right: 1.5px dashed rgba(255, 255, 255, 0.2);
                        }
                        .m-60{
                            border-right: 1.5px solid rgba(255, 255, 255, 0.3);
                        }
                    }
    
                }
            }

            .submissions-strips-container{
               
                .strip{
                    position: absolute;
                    border-radius: 100px;


                    
                    background-color: rgba(255, 255, 255, 0.5);
                    
                }
                
            }
        }

    }


    .tabs-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;

        .tab{
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }
        .tab.disabled {
            background-color: transparent !important;
            color: rgba(255, 255, 255, 0.5) !important;
            border-color: rgba(255, 255, 255, 0.5) !important;
        }
        .tab.disabled:hover {
            color: white !important;
            border-color: white !important;
        }
    }

    .missing-submissions-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;

        div {
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            color: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
    }

    * {

        .c-1{
            background-color:rgba(255, 0, 0, 0.5) !important;
            border: 1px solid rgba(255, 0, 0, 1) !important
        }
        .c-2{
            background-color:rgba(255, 149, 0, 0.5) !important;
            border: 1px solid rgba(255, 149, 0, 1) !important
        }
        .c-3{
            background-color:rgba(255, 255, 0, 0.5) !important;
            border: 1px solid rgba(255, 255, 0, 1) !important;
        }
        .c-4{
            background-color: rgba(47, 255, 0, 0.5) !important ;
            border: 1px solid rgba(47, 255, 0, 1) !important ;
        }
        .c-5{
            background-color: rgba(0, 225, 255, 0.5) !important ;
            border: 1px solid rgba(0, 225, 255, 1) !important ;
        }
        .c-6{
            background-color: rgba(0, 140, 255, 0.5) !important ;
            border: 1px solid rgba(0, 140, 255, 1) !important ;
        }
        .c-7{
            background-color: rgba(42, 0, 255, 0.5) !important ;
            border: 1px solid rgba(42, 0, 255, 1) !important ;
        }
        .c-8{
            background-color: rgba(153, 0, 255, 0.5) !important ;
            border: 1px solid rgba(153, 0, 255, 1) !important ;
        }
        .c-9{
            background-color:  rgba(251, 21, 255, 0.5) !important;
            border: 1px solid  rgba(251, 21, 255, 1) !important;
        }
        .c-10{
            background-color: rgba(255, 255, 255, 0.5) !important ;
            border: 1px solid  rgba(255, 255, 255, 1) !important ;
        }
        
        .c-11{
            background-color:rgba(255, 0, 0, 0.9) !important;
            border: 1px solid rgba(255, 0, 0, 1) !important;
        }
        .c-12{
            background-color:rgba(255, 149, 0, 0.9) !important;
            border: 1px solid rgba(255, 149, 0, 1) !important;
        }
        .c-13{
            background-color:rgba(255, 255, 0, 0.9) !important;
            border: 1px solid rgba(255, 255, 0, 1) !important;
        }
        .c-14{
            background-color: rgba(47, 255, 0, 0.9) !important ;
            border: 1px solid  rgba(47, 255, 0, 1) !important ;
        }
        .c-15{
            background-color: rgba(0, 225, 255, 0.9) !important ;
            border: 1px solid  rgba(0, 225, 255, 1) !important ;
        }
        .c-16{
            background-color: rgba(0, 140, 255, 0.9) !important ;
            border: 1px solid  rgba(0, 140, 255, 1) !important ;
        }
        .c-17{
            background-color: rgba(42, 0, 255, 0.9) !important ;
            border: 1px solid  rgba(42, 0, 255, 1) !important ;
        }
        .c-18{
            background-color: rgba(153, 0, 255, 0.9) !important ;
            border: 1px solid  rgba(153, 0, 255, 1) !important ;
        }
        .c-19{
            background-color:  rgba(251, 21, 255, 0.9) !important;
            border: 1px solid   rgba(251, 21, 255, 1) !important;
        }
        .c-20{
            background-color: rgba(255, 255, 255, 0.9) !important ;
            border: 1px solid  rgba(255, 255, 255, 1) !important ;
        }
    }

}


@media only screen and (max-width: 575px) {

    /* body padding */
    .px-5 {padding-inline: 1.5rem !important;}


    /* Index.html */
    /* Tabs */
    .nav-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2rem;

        .nav{
            justify-content: space-between;
            width: 100%;
            max-width: 360px;
            gap: 0;
        }
    }

    /* Cards */
    #cards-container {
        justify-content: center;

        .card {
            .dropdown-menu .dropdown-item {
                padding-block: 0.75rem;
            }
        }
    }

    /* View details modal date range line break */
    #event-details-modal #event-date-range br{
        display: unset !important;
    }



    /* Broadcast lists page */
    /* Cards */
    .card.card-lists{
        max-width: 300px;
        width: 100%;
    }


    /* Layout 2 header */
    #layout2-header-spacer{display: none;}

    /* Avialability */
    #event-info-section #event-date-range br{
        display: unset !important;
    }
    #general-availability {
        justify-content: center !important;
        gap: 1.5rem !important;

        .a-row {
            width: 100%;
            flex-wrap: wrap;
            gap: 1rem !important;
            justify-content: space-between;
        }
        .left-part {
            width: 100%;
            margin-bottom: 0.25rem;
        }
        .right-part > div{
            gap: 1rem !important;
        }
        .right-part > div > div {
            gap: 0.6rem !important
        }

    
        .duplicate-icon{
            width: 1.75rem;
            height: 1.75rem;
        }
        .close-icon {
            width: 1.25rem;
            height: 1.25rem;
        } 
    }
    
    
    
    /* Submit / Change Availability */
    /* Overwriting Calendar */
    .big-calendar {
        display: flex;
        flex-direction: column-reverse;
        max-width: 300px;
    }
    .calendar {
        width: 100%;
        margin-inline: auto;


        .calendar-wrapper{
            padding: 1rem;
        }
        .legend-wrapper{
            flex-direction: column;
            align-items: start;
            margin-left: 10px;
            margin-bottom: 20px;
            margin-top: 0px;
            gap: 10px;
    
            img{
                width: 0.8rem;
            }
            .circle{
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .day-availability {
        margin-inline: auto;
        width: 100%;
        justify-content: space-between;

        .close-icon {
            width: 1.25rem;
            height: 1.25rem;
        }

        #day-intervals-wrapper {
            gap: 1rem !important;
            justify-content: space-between !important;
        }

        #day-intervals-rows > div{
            gap: 1rem !important;
        }
        #day-intervals-rows > div > div {
            gap: 0.6rem !important
        }

    }


    /* Submissions page */
    #submissions-page{

        .calendar{
    
            .header .month {
                font-size: 16px !important;
            }
    
            .body {
    
                .days-column{
                    min-width: 60px;
                    font-size: 12px;
                    
                    .space-block{
                        height: 40px;
                    }

                    .days-container {
                        gap: 10px !important;
                    }
                }
        
                .scrollable-container{
                    .times-row .time-cell{
                        width: 60px;
                        font-size: 14px;
                    }
                    
                    .grid-row{
                        min-height: 60px;
                        
                        margin-bottom: 10px;
        
                        .hour-block{
                            width: 60px;
                            padding-left: 13px;
                        }
        
                    }
                }          
            }
    
        }
    
        .tabs-container .tab{
            padding: 0.3rem 0.6rem; 
            border-radius: 0.3rem;
        }
    
        .missing-submissions-container div {
            padding: 0.3rem 0.6rem; 
            border-radius: 0.3rem;
        }
    
    }
}
