{% extends "layout.html" %}

{% block title %}Broadcast Lists{% endblock %}
{% block navlink3 %}active{% endblock %}

{% block main %}

<div class="mx-auto d-flex flex-column align-items-center py-5 text-secondary">
    <p class="fs-3 pb-1 border-bottom-primary text-primary" >Broadcast Lists</p>
    <p class="mt-2 text-center">
        Note: These lists will make it easier and faster for you to share your events with certain groups of people.
        <br>
        Note: You can only add users that have created an account on this platform.
    </p>
    <button class="btn btn-light btn-md d-flex align-items-center gap-2 fw-medium mt-4" id="new-list-btn">
        <svg width="1rem" height="1rem" viewBox="5 5 14 14" xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 pointer-events-none"><path d="M18.361 11.259a.75.75 0 01-.009 1.484l-.102.007h-5.5v5.5a.75.75 0 01-1.491.111l-.009-.11V12.75h-5.5l-.111-.009a.75.75 0 01.009-1.484l.102-.007h5.5v-5.5a.75.75 0 011.491-.111l.009.11v5.501h5.5l.111.009z" fill="currentcolor" fill-rule="evenodd"></path></svg>
        <p>New List</p>
    </button>
</div>


<div class="d-flex flex-wrap gap-4 align-items-start" id="cards-container"></div>

<!-- Create/Edit List Modal -->
<div class="modal fade" id="lists-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content bg-primary">

        <div class="modal-header p-4 align-items-center " style="border: none;">
          <div id="modal-alert" class="alert alert-danger py-2 px-4 m-0 hidden"></div>
          <button type="button" class="btn-close" style="filter: invert(1);" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body p-4 d-flex flex-column gap-5">

          <div>
              <label for="list-name-inpt" class="text-secondary mb-2">Broadcast List Name</label>
              <input class="form-control" type="text" name="list-name" id="list-name-inpt" placeholder="Broadcast List Name">
          </div>
          
          <div>
              <label for="user-email-inpt" class="text-secondary mb-2">User's Email</label>
              <div class="d-flex gap-2">
                <input class="form-control" type="email" name="user-email" id="user-email-inpt" placeholder="person@gmail.com">
                <button class="btn btn-sm btn-secondary d-flex align-items-center gap-2" style="width: 30%;" id="add-new-user">
                    <img src="../static/assets/plus.svg" alt="">
                    Add 
                </button>
              </div>
          </div>

          <div class="d-flex flex-column gap-2" id="user-rows-container">
            
            

          </div>
        </div>

        <div class="modal-footer p-4" >
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="create-list-confirm">Create List</button>
          <button type="button" class="btn btn-primary" id="edit-list-confirm">Confirm Changes</button>
        </div>
      </div>

    </div>
</div>

<!-- Delete List Modal -->
<div class="modal fade modal-sm" id="delete-list-modal" tabindex="-1"aria-hidden="true">
    <div class="modal-dialog">

      <div class="modal-content bg-primary">

        <div class="modal-header align-items-center " style="border: none;">
          <p class="fs-4 fw-semibold">Delete List?</p>
          <button type="button" class="btn-close" style="filter: invert(1);" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body py-0">
            <label class="fw-light opacity-70 mb-1 text-secondary">Type "CONFIRM" to delete.</label>
            <input type="text" placeholder="CONFIRM" style="text-transform: uppercase;" autocomplete="off" class="form-control input-danger" id="confirm-delete-input">
        </div>

        <div class="modal-footer" style="border: none">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger disabled" id="delete-list-confirm-btn">Delete</button>
        </div>
      </div>

    </div>
</div>

{% endblock %}

{% block script %}

<script>
    let usersList = []
    const listsModal = new bootstrap.Modal('#lists-modal', {
        keyboard: true,
        focus: true,
        backdrop: false
    })
    const modalAlertElement = document.getElementById('modal-alert')
    const listNameInpt = document.getElementById('list-name-inpt')
    const emailInpt = document.getElementById('user-email-inpt')
    const addNewUserBtn = document.getElementById('add-new-user')
    addNewUserBtn.addEventListener('click', handleAddNewUserBtnClick)
    const confirmNewListBtn = document.getElementById('create-list-confirm')
    confirmNewListBtn.addEventListener('click', handleConfirmNewListClick)
    const confirmEditListBtn = document.getElementById('edit-list-confirm')
    confirmEditListBtn.addEventListener('click', handleConfirmEditListClick)
    const rowsContainer = document.getElementById('user-rows-container')
    const newListBtn = document.getElementById('new-list-btn')
    newListBtn.addEventListener('click', handleNewListBtnClick)


    //////////////////// MODAL FUNCTIONALITY
    // Add New User Button
    let add_user_loading = false
    function handleAddNewUserBtnClick(e) {
        if (!add_user_loading) {

            modalAlertClose()
            let isValid = true
    
            if (!emailInpt.value) {
                modalAlert('No email provided', 'danger')
                return
            }
    
            if (!isValidEmail(emailInpt.value)){
                modalAlert('Email is not valid', 'danger')
                return
            }
    
            if (emailAlreadyInList(emailInpt.value, usersList)) {
                emailInpt.value = ''
                modalAlert('User is already in the list', 'danger')
                return
            }
            
            add_user_loading = true
            modalAlert('Adding User...', 'loading')
            
            fetch('/api/user-exists', {
                method: 'post',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify( {email: emailInpt.value} )
            })
            .then(res => {
                if (!res.ok) {
                    modalAlert("Server error. Please try again later", 'warning')
                    throw new Error("Network response was not okay")
                }
                return res.json()
            })
            .then(data => {
                // if user is found and isn't already in the list
                if (data.success){
                    user = data.user
                    if (!emailAlreadyInList(user.email, usersList)){
                        // create row
                        rowsContainer.appendChild(createRow(user))
                        rowsContainer.appendChild(createSpacer(user.id))
                        // add user to list
                        usersList.push(user)
    
                        modalAlertClose()
                    }
                    else {
                        modalAlert('User is already in the list', 'danger')
                    }
                }
                // if user is unauthorized
                else if (data.status && data.status == 401){
                    window.location.reload();
                }
                // if user not found
                else {
                    modalAlert(data.message, 'danger')
                }
                
                emailInpt.value = ''
                add_user_loading = false
            })
            .catch(err => console.log(err))
        }
    }

    // Remove User Row Icon
    function handleCloseIconClick(e) {
        modalAlertClose()
        let icon = e.currentTarget
        let row = icon.parentElement
        let rowId = row.getAttribute('id').split('-')[1]

        // remove event listeneres
        e.currentTarget.removeEventListener('click', handleCloseIconClick)

        // remove user from list
        usersList = usersList.filter(user => user.id != rowId)

        // remove row and its spacer
        row.parentElement.querySelector(`#spacer-${rowId}`)?.remove()
        row.remove()
    }



    //////////////////// CREATE NEW LIST
    // Create New List Button (btn on page)
    function handleNewListBtnClick(e) {
        // reset modal
        usersList = []
        emailInpt.value = ''
        listNameInpt.value = ''
        rowsContainer.innerHTML = ''
        listsModal._element.id = ''
        modalAlertClose()

        // show correct button
        confirmNewListBtn.classList.remove('hidden')
        confirmEditListBtn.classList.add('hidden')

        listsModal.show()
    }

    // Confirm Create New List Btn (button on modal)
    function handleConfirmNewListClick(e) {
        if (!listNameInpt.value) {
            modalAlert('Please enter a list name', 'danger')
            return
        }

        if (usersList.length == 0) {
            modalAlert('Add at least 1 user to the list. Or delete the list.', 'danger')
            return
        }

        modalAlert('Creating List...', 'loading')

        fetch('/broadcast-list', {
            method: 'post',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                listName: listNameInpt.value,
                usersList: usersList
            })
        })
        .then(res => {
            if (!res.ok) {
                modalAlert('Server error. Please try again later.', 'warning')
                throw new Error('Network response was not okay')
            }
            return res.json()
        })
        .then(data => {
            if (data.success) {
                emailInpt.value = ''
                listNameInpt.value = ''
                rowsContainer.innerHTML = ''
                usersList = []
                listsModal._element.id = ''
                cardsContainer.innerHTML = ''
                renderCards(data.lists)
                appendAlert('New list created successfully!', 'success')
                modalAlertClose()
                listsModal.hide()
            }
            // if user is unauthorized
            else if (data.status && data.status == 401){
                window.location.reload();
            }
            else {
                modalAlert(data.message, 'danger')
            }
        })
        .catch(err => console.log(err))
    }



    /////////////////// EDIT LIST
    // Handle Edit Button
    let edit_btn_loading = false
    function handleEditBtnClick(e) {
        if(!edit_btn_loading){
            let editBtn = e.currentTarget
            let listId = editBtn.parentElement.parentElement.getAttribute('id')
    
            edit_btn_loading = true
            loadBtn(editBtn)
            fetch(`/broadcast-list?listId=${listId}`)
            .then(res => {
                if (!res.ok) {
                    appendAlert('Server error. Please try again later', 'warning')
                    throw new Error("Network response was not okay.")
                }
                return res.json()
            })
            .then(data => {
                if (data.success) {
                    openEditModal({
                        id: data.data.list_id,
                        listName: data.data.list_name,
                        users: data.data.contacts
                    })
                }
                // if user is unauthorized
                else if (data.status && data.status == 401){
                    window.location.reload();
                }
                else {
                    appendAlert(data.message, 'warning')
                }
            
                edit_btn_loading = false
                stoploadBtn(editBtn)
            })

        }
        
    }

    function openEditModal({id, listName, users}) {
        // reset modal
        usersList = []
        emailInpt.value = ''
        listNameInpt.value = ''
        rowsContainer.innerHTML = ''
        listsModal._element.id = ''
        modalAlertClose()

        // show correct button
        confirmNewListBtn.classList.add('hidden')
        confirmEditListBtn.classList.remove('hidden')

        // Prefill Title and User rows
        listNameInpt.value = listName
        users.forEach(user => {
            // create row
            rowsContainer.appendChild(createRow(user))
            rowsContainer.appendChild(createSpacer(user.id))
            // add user to list
            usersList.push(user)
        })

        listsModal._element.id = id
        listsModal.show()
    }

    /// Confirm Edit List Btn 
    function handleConfirmEditListClick(e) {
        if (!listNameInpt.value) {
            modalAlert('Please enter a list name', 'danger')
            return
        }

        if (usersList.length == 0) {
            modalAlert('Add at least 1 user to the list', 'danger')
            return
        }

        modalAlert('Updating List...', 'loading')

        fetch('/broadcast-list', {
            //method: 'patch',
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-HTTP-Method-Override': 'PATCH',
            },
            body: JSON.stringify({
                listId: listsModal._element.id,
                listName: listNameInpt.value,
                usersList: usersList
            })
        })
        .then(res => {
            if (!res.ok) {
                modalAlert('Server error. Please try again later.', 'warning')
                throw new Error('Network response was not okay')
            }
            return res.json()
        })
        .then(data => {
            if (data.success) {
                emailInpt.value = ''
                listNameInpt.value = ''
                rowsContainer.innerHTML = ''
                usersList = []
                listsModal._element.id = ''
                modalAlertClose()
                listsModal.hide()
                appendAlert('List updated successfully!', 'success')

                cardsContainer.innerHTML = ''
                renderCards(data.lists)
            }
            // if user is unauthorized
            else if (data.status && data.status == 401){
                window.location.reload();
            }
            else {
                modalAlert(data.message, 'danger')
            }
        })
        .catch(err => console.log(err))
    }



    ///////////////// DELETE LIST
    // Delete Event Modal
    const deleteListModal = new bootstrap.Modal("#delete-list-modal", {
        keyboard: true,
        focus: true,
        backdrop: false
    })
    const deleteListConfirmBtn = deleteListModal._element.querySelector('#delete-list-confirm-btn')
    const deleteListConfirmInput = deleteListModal._element.querySelector('#confirm-delete-input')

    function handleDeleteBtnClick(e) {
        let btn = e.currentTarget
        let listId = btn.parentElement.parentElement.id
        
        deleteListConfirmInput.value = ''
        deleteListModal._element.setAttribute('listId', listId)
        deleteListModal.show()
    }
    
    deleteListConfirmInput.addEventListener('input', () => {
        if (deleteListConfirmInput.value.toUpperCase() == 'CONFIRM') {
            deleteListConfirmBtn.classList.remove('disabled')
        }
        else {
            deleteListConfirmBtn.classList.add('disabled')
        }
    })

    deleteListConfirmBtn.addEventListener('click', () => {
        listId = deleteListModal._element.getAttribute('listId')

        if (deleteListConfirmInput.value.toUpperCase() == 'CONFIRM') {
            deleteListModal.hide()
            appendAlert('Deleting List...', 'loading')
               
            let event_id = deleteListModal._element.getAttribute('eventId')
            fetch('/broadcast-list', {
                method: 'delete',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({listId: listId})
            })
            .then(res => {
                if (!res.ok) {
                    modalAlert('Server error. Please try again later.', 'warning')
                    throw new Error('Network response was not okay')
                }
                return res.json()
            })
            .then(data => {
                if (data.success) {
                    appendAlert('List deleted successfully.', 'success')
                    cardsContainer.innerHTML = ''
                    renderCards(data.lists)
                }
                // if user is unauthorized
                else if (data.status && data.status == 401){
                    window.location.reload();
                } 
                else {
                    appendAlert(data.message, 'danger')
                }
            })
            .catch(err => console.log(err))
        }
        else {
            deleteListConfirmBtn.classList.add('disabled')
        }
    })



    /////////////////////////////////////////
    ////////// Helper Functions
    function isValidEmail(email) {
        const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return regex.test(email);
    }

    function emailAlreadyInList(email, list){
        for (let i = 0; i < list.length; i++){
            if (list[i].email == email) {
                return true
            }
        }
        return false
    }



    ////////////////////////////////////////
    /////////// Modal Rendering Functions
    function createRow(user) {
        let row = document.createElement('div')
        row.classList = ['usr-row d-flex justify-content-between align-items-center']
        row.setAttribute('id', `row-${user.id}`)

        let contentWrapper = document.createElement('div')
        contentWrapper.classList = ['row-content']

        let userName = document.createElement('p')
        userName.classList = ['name']
        userName.textContent = user.fullname

        let userEmail = document.createElement('p')
        userEmail.classList = ['email text-secondary fst-italic']
        userEmail.textContent = user.email

        contentWrapper.appendChild(userName)
        contentWrapper.appendChild(userEmail)

        row.appendChild(contentWrapper)

        let closeIcon = document.createElement('img')
        closeIcon.setAttribute('src', './static/assets/close.svg')
        closeIcon.classList = ['close-icon']
        closeIcon.addEventListener('click', handleCloseIconClick)

        row.appendChild(closeIcon)

        return row
    }
    function createSpacer(id){
        let spacer = document.createElement('div')
        spacer.classList.add('spacer')
        spacer.setAttribute('id', `spacer-${id}`)
        return spacer
    }
    
    function modalAlert(message, type){
        if (type == 'loading') {
            modalAlertElement.classList = [`alert py-2 px-4 m-0 alert-primary`]
            modalAlertElement.innerHTML = `   
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span class='text'>Working On It...</span>
            ` 
        }
        else {
            modalAlertElement.classList = [`alert py-2 px-4 m-0 alert-${type}`]
            modalAlertElement.textContent = message
        }
    }
    function modalAlertClose() {
        modalAlertElement.classList = ['alert py-2 px-4 m-0 hidden']
        modalAlertElement.textContent = ''
    }
</script>

<script>
    // Page Cards Rendering
    let data = {{ data|tojson }}   
    const cardsContainer = document.getElementById('cards-container')

    function renderCards(data) {
        data.forEach(card => {
            let c = createCard(card)
            cardsContainer.appendChild(c)
        })
    }
    function createCard({id, broadcast_list_name: listTitle}){

        // Card
        let card = document.createElement('div')
        card.setAttribute('id', id)
        card.classList = ['card card-lists bg-secondary border-primary text-light']
        
        // Card Body
        let cBody = document.createElement('div')
        cBody.classList = ['card-body text-light pb-3 pt-3']
        
        let title = document.createElement('h4')
        title.classList = ['card-title m-0']
        title.textContent = listTitle
        cBody.appendChild(title)
        
        
        //Card Footer
        let footer = document.createElement('div')
        footer.classList = ['card-footer d-flex justify-content-between text-dark pt-0 pb-3']
        
        
        let deleteBtn = document.createElement('a')
        deleteBtn.classList = ['btn btn-secondary btn-sm d-flex align-items-center gap-1 justify-content-center']
        deleteBtn.innerHTML = `
            <svg width="1rem" height="1rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 pointer-events-none mr-2"><path d="M15.758 8a3 3 0 012.985 3.297l-.018.148-1.05 7a3 3 0 01-2.79 2.55l-.177.005H9.292a3 3 0 01-2.936-2.38l-.031-.175-1.05-7a3 3 0 012.818-3.441L8.242 8h7.516zm0 1.5H8.242a1.5 1.5 0 00-1.498 1.579l.014.144 1.05 7a1.5 1.5 0 001.346 1.27l.138.007h5.416a1.5 1.5 0 001.457-1.142l.027-.135 1.05-7a1.5 1.5 0 00-1.34-1.716l-.144-.007zM10.25 12a.75.75 0 01.75.75v3.5a.75.75 0 11-1.5 0v-3.5a.75.75 0 01.75-.75zm3.5 0a.75.75 0 01.75.75v3.5a.75.75 0 11-1.5 0v-3.5a.75.75 0 01.75-.75zM12 3a1.5 1.5 0 011.493 1.356l.007.144h5.75a.75.75 0 110 1.5H4.75a.75.75 0 010-1.5l5.75-.001A1.5 1.5 0 0112 3z" fill="currentcolor" fill-rule="evenodd"></path></svg>
            Delete
        `
        deleteBtn.addEventListener('click', handleDeleteBtnClick)
        footer.appendChild(deleteBtn)
        
        let editBtn = document.createElement('a')
        editBtn.classList = ['btn btn-primary btn-sm d-flex align-items-center gap-1 justify-content-center']
        editBtn.innerHTML = `
            <span class="spinner-border spinner-border-sm hidden" aria-hidden="true"></span>
            <span class='text'>
                <svg width="1.1rem" height="1.1rem" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 pointer-events-none !h-6 !w-6 text-base -ml-2 mr-1"><path d="M13.637 4.213c1.607-1.605 4.206-1.604 5.9-.076l.166.157.158.167c1.479 1.639 1.53 4.121.081 5.737l-.155.164-8.831 8.83a6.197 6.197 0 01-4.27 1.806H6.4l-3.325-.074-.073-3.324a6.216 6.216 0 011.61-4.352l.195-.205 8.83-8.83zM11.93 8.041l-6.063 6.063a4.694 4.694 0 00-1.365 3.2v.263l.04 1.89 1.89.041.263-.001a4.7 4.7 0 003.015-1.19l.187-.177 6.061-6.06L11.93 8.04zm4.724-3.54a2.682 2.682 0 00-1.808.635l-.15.138L13.274 6.7l4.028 4.028L18.726 9.3c1.063-1.064 1.027-2.835-.083-3.945a2.908 2.908 0 00-1.81-.846l-.18-.01z" fill="currentcolor" fill-rule="evenodd"></path></svg>
                Edit
            </span>
        `
        editBtn.addEventListener('click', handleEditBtnClick)
        footer.appendChild(editBtn)

        card.appendChild(cBody)
        card.appendChild(footer)

        return card
    }
    renderCards(data)

</script>
{% endblock %}
