{% extends "layout-2.html" %}

{% block title %}Event Access{% endblock %}
{% block title2 %}Event Access{% endblock %}

{% block main %}

<form style="width: min(360px, 100%);" class="mx-auto">
    
    {% if 'fullname' in fields %}
    <div class="mx-auto pb-4">
        <label for="fullname">Full Name *</label>
        <input type="text" name="fullname" id="fullname" class="form-control pt-2" required placeholder="Enter you full name">
    </div>
    {% endif %}
    {% if 'password' in fields %}
    <div class="mx-auto">
        <label for="passworld">Event Password *</label>
        <input type="text" name="passworld" id="password" class="form-control pt-2" required style="text-transform: uppercase;">
    </div>
    {% endif %}
    <div class="mx-auto">
        <button type="submit" class="btn btn-primary mt-4" style="width: 100%;" id="submit-button">Submit</button>
    </div>
</form>




{% endblock %}

{% block script %}
<script>
    const form = document.querySelector('form')
    const fullnameInput = document.getElementById('fullname')
    const passwordInput = document.getElementById('password')
    const submitBtn = document.getElementById('submit-button')

    let loading = false
    form.addEventListener('submit', (e) => {

        e.preventDefault()

        if (!loading) {
            loading = true
            submitBtn.disabled = true
            appendAlert('Checking...', 'loading')

            const eventHash = window.location.href.split('/').pop();
            fetch(`/events/${eventHash}`, {
                method: 'post',
                headers: {'Content-Type': "application/json"},
                body: JSON.stringify(
                    {
                        fullname: fullnameInput?.value,
                        password: passwordInput?.value,
                    }
                )
            })
            .then(res => {
                if (!res.ok) {
                    appendAlert("Couldn't connect to the server.", 'warning')
                    throw new Error('Network response was not okay')
                }
                return res.json()
            })
            .then(data => {
                if (data.success) {
                    window.location.reload()
                }
                else if (data.status && data.status == 401) {
                    window.location.reload()
                }
                else {
                    appendAlert(data.message, 'danger')
                }

                loading = false
                submitBtn.disabled = false
            })
        }
    
    })

</script>
{% endblock %}